/* ===========================
   ESTILO GENERAL
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Black', sans-serif;
}

body {
    background: #001a3d;
    color: white;
    overflow: hidden;
}

/* LOGOS */
.header-logos {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 20;
}

.header-logos img {
    height: 85px;
}

/* PANTALLAS */

.pantalla {
    width: 100%;
    height: 100vh;
    display: none;
    padding-top: 160px;
    text-align: center;
}

.visible { display: block !important; }
.oculto { display: none !important; }

.titulo {
    font-size: 3rem;
    margin-bottom: 25px;
}

.select-grupos {
    padding: 15px;
    border-radius: 14px;
    font-size: 1.5rem;
    width: 260px;
    font-weight: bold;
    color: #001a3d;
}

.btn {
    background: #ffd700;
    padding: 15px 28px;
    border-radius: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.btn:hover { background: #ffee57; }
.verde { background: #11cc44 !important; color: white; }
.rojo { background: #cc1133 !important; color: white; }

/* Juego */

.grupo-actual {
    font-size: 2.5rem;
    color: #ffd700;
    margin-bottom: 25px;
}

.contenedor-central {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.cronometro {
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 3rem;
    background: #111;
    border-radius: 40px;
    padding: 15px 35px;
    border: 4px solid #ffd700;
}

.prevencionista {
    width: 430px;
}

.comodines {
    position: absolute;
    right: 5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comodin {
    width: 100px;
    height: 100px;
    background: #004080;
    border-radius: 50%;
    border: 4px solid #ffd700;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.pregunta-box {
    margin: 40px auto;
    width: 85%;
    background: rgba(0,0,50,0.8);
    border: 4px solid #ffd700;
    padding: 20px;
    border-radius: 18px;
    font-size: 2rem;
    min-height: 120px;
}

.opciones {
    width: 85%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.opcion {
    background: #003c7a;
    border: 3px solid #ffd700;
    padding: 20px;
    font-size: 1.6rem;
    border-radius: 14px;
    cursor: pointer;
}

.opcion.correcta { background: #0cc444 !important; border-color: white; }
.opcion.incorrecta { background: #cc0022 !important; border-color: white; }

/* Final */

#pantalla-final h1 { font-size: 3rem; }
#pantalla-final p { font-size: 1.8rem; margin: 20px; }
